---
layout: default
---
<div class="row">
    <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded-sm">
            <h1 class="mb-3">{{ page.title }}</h1>
            <p class="text-muted"><em>{{ page.date | date: "%B %d, %Y" }}</em></p>
            <hr>
            
            {{ content }}
            
            <hr>
            <p class="text-right mt-4">
                <a href="{{ '/newsletters' | relative_url }}" class="btn btn-outline-primary btn-sm">
                    <i class="fas fa-arrow-left"></i> Back to Newsletters
                </a>
            </p>
        </div>
    </div>
</div>